
/* ---------- Basic Layout Styles ----------- */

#header div.section {
  width: auto;
  margin: 0px 20px 0px 20px;
  min-width: 921px;
}
#featured div.section,
#messages,
#main,
#footer-columns,
#footer-wrapper {
  width: auto;
  margin: 0px 20px 0px 20px;
  min-width: 920px;
}
#footer-wrapper {
  margin: 0px 0px 0px 20px;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
.sidebar,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
#sidebar-second {
  float: right;
}
.one-sidebar #content {
  width: auto;
  margin: 0px 0px 0px 240px;
  padding: 0px 20px 0px 0px;
}
.two-sidebars #content {
  width: auto;
  margin: 0px 240px 0px 240px;
  padding: 0px 20px 0px 0px;
}
.no-sidebars #content {
  width: auto;
  margin: 0px;
  padding: 0px 20px;
}
.sidebar {
  width: 250px;
  padding: 20px 0px 0px 0px;
}
#messages div.section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
#footer-wrapper {
  padding: 0px;
  min-width: 942px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 22%;
}
#footer {
  padding: 80px 50px 30px 75px;
  text-align: right;
}
#post-script-wrapper {
  margin: 0px 0px 10px 0px;
}
#post-script {
  text-align: center;
}
#search-bar-area {
  padding: 15px 30px;
  text-align: right;
}